<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application android:name=".StudioTaranehApplication" android:allowBackup="false" android:label="استودیو ترانه" android:icon="@drawable/studio_taraneh_icon" android:roundIcon="@drawable/studio_taraneh_icon" android:theme="@style/Theme.StudioTaraneh">
        <activity android:name=".MainActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
